
<% @rooms.each do |room|%>
    <div>Room :<%=link_to room.name , room_path(room.id)%></div>
    <div>Capacity: <%= room.capacity%></div>
<%end%>
<%# Create New Room Path %>
<%=link_to "Create New Room", new_room_path%>
<%# Create new booking path %>
<%=link_to "Create New Booking", new_booking_path%>
